version: '3.8'

networks:
  app-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.25.0.0/16

services:
  app:
    build: .
    container_name: web_tu_thien_app
    networks:
      - app-network
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    extra_hosts:
      - "db.gbzwqsyoihqtpcionaze.supabase.co:host-gateway"
    environment:
      SPRING_PROFILES_ACTIVE: local
      SPRING_DATASOURCE_URL: jdbc:postgresql://db.gbzwqsyoihqtpcionaze.supabase.co:5432/postgres
      SPRING_DATASOURCE_USERNAME: postgres.gbzwqsyoihqtpcionaze
      SPRING_DATASOURCE_PASSWORD: zvBSwzV/@S8D?uvn
      SUPABASE_URL: https://gbzwqsyoihqtpcionaze.supabase.co
      SUPABASE_ANON_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdiendxc3lvaWhxdHBjaW9uYXplIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNTIwODYsImV4cCI6MjA3OTcyODA4Nn0.zQgjlkrV7Q8i8cKrjdJm21qqbruFUPEs0-0lWMHTzlY
      SUPABASE_SERVICE_ROLE_KEY: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdiendxc3lvaWhxdHBjaW9uYXplIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDE1MjA4NiwiZXhwIjoyMDc5NzI4MDg2fQ.tv8G5TZfdDwO05cbgPcXbXlNHFPqI5j_eLD9tEHRB4s
    ports:
      - "8080:8080"
    volumes:
      - ./uploads:/app/uploads
    cap_add:
      - NET_ADMIN
