server:
  port: ${PORT:8080}
  servlet:
    session:
      cookie:
        name: JSESSIONID
        http-only: true
        secure: false
        max-age: 1800

spring:
  application:
    name: web-tu-thien
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://db.gbzwqsyoihqtpcionaze.supabase.co:5432/postgres?sslmode=require}
    driver-class-name: org.postgresql.Driver
    username: ${DATABASE_USERNAME:postgres.webtuthien}
    password: ${DATABASE_PASSWORD:vBSwzV/@S8D?uvn}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
    show-sql: false
  sql:
    init:
      mode: always
      continue-on-error: true
      schema-locations: classpath:schema-postgresql.sql
      data-locations: classpath:data-postgresql.sql
  session:
    timeout: 30m
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health,info

# VNPay Configuration
vnpay:
  tmn-code: CGBU01D6
  hash-secret: GECKRBWVOKDDQSAEXBYNZFOJNPWSMXKV
  url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
  return-url: https://webtuthien-production.up.railway.app/vnpay/return
  version: 2.1.0
  command: pay

