server:
  port: ${PORT:8080}
  servlet:
    session:
      cookie:
        name: JSESSIONID
        http-only: true
        secure: false
        max-age: 1800

spring:
  application:
    name: web-tu-thien
  datasource:
    url: jdbc:mysql://localhost:3306/web_tu_thien?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 
  sql:
    init:
      mode: always
      continue-on-error: true
      schema-locations: classpath:schema-mysql.sql
      data-locations: classpath:data-mysql.sql
  session:
    timeout: 30m
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB

management:
  endpoints:
    web:
      exposure:
        include: health,info


